
/* mobile and tablate responsive menubar  */
@media screen and (max-width: 576px){
    /* nav and menubar */
   
    .menubar{
        display: none;
    }
    .hambar{
        display: block;
        align-items: center;
        margin-top: 5px;
    }
    /* hero section */
    .hero{
        margin-top: 50px;
    }
    .hero-title{
        font-size: 35px;
        line-height: 45px;
    }
    .hero-img{
        height: 300px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px){
   
    .menubar{
        display: none;
    }
    .hambar{
        display: block;
        align-items: center;
        margin-top: 5px;
    }
    /* hero section */
    .hero {
        margin-top: 50px;
    }
    .hero-title{
        font-size: 45px;
    }
    .hero-img{
        height: 480px;
    }
    
}