/* mobile responsive */
@media screen and (max-width: 576px) {
    /* nav and menubar */

    .menubar {
        display: none;
    }

    .hambar {
        display: block;
        align-items: center;
        margin-top: 5px;
    }

    /* hero section */
    .hero {
        margin-top: 50px;
    }

    .hero-title {
        font-size: 35px;
        line-height: 45px;
    }

    .hero-description {
        width: 90vw;
    }

    .hero-img {
        height: 300px;
    }

    .feature-seciton {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        font-size: 30px;
        line-height: 35px;
    }

    .feature-left {
        width: 100%;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-right {
        order: -1;
        width: 100%;
    }

    /* service section */
    .service-section {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 24px;
    }

    .service-left,
    .service-right {
        width: 100%;
    }

    .service-card:hover h3 {
        font-size: 20px;
    }

    .service-right {
        height: 350px;

    }

    .experience {
        left: 0%;
        top: 78%;
    }


    /* some facts section */
    .facts-card-container {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .fact-box {
        width: 170px;
        height: 170px;
        padding: 8px;
    }

    /* our sponsor */
    .sponsor-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsor-description {
        width: 95%;
    }

    .sponsor-container img {
        width: 130px;
        height: 40px;
    }

}

/* tablate/mid width screen responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .menubar {
        display: none;
    }

    .hambar {
        display: block;
        align-items: center;
        margin-top: 5px;
    }

    /* hero section */
    .hero {
        margin-top: 50px;
    }

    .hero-title {
        font-size: 45px;
    }
    .hero-description {
        width: 80vw;
    }
    .hero-img {
        height: 480px;
    }

    /* main area */
    .section-title {
        font-size: 32px;
        line-height: 35px;
    }

    .feature-left {
        gap: 24px;
    }

    /* service section */
    .service-section {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 24px;
    }

    .service-left,
    .service-right {
        width: 100%;
    }

    .service-card:hover h3 {
        font-size: 20px;
    }

    .service-right {
        height: 350px;

    }

    .experience {
        left: 0%;
        top: 78%;
    }

    /* some facts section */
    .facts-card-container {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .fact-box {
        width: 280px;
        height: 280px;
        padding: 45px;


    }

    /* our sponsor */
    .sponsor-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsor-description {
        width: 95%;
        margin: 0 auto;
    }

    .sponsor-container img {
        width: 130px;
        height: 40px;



    }



}