* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}

/* shared styles start*/
.container {
    width: 90%;
    height: auto;
    margin: 0 auto;

}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;
}

.dark3 {
    color: #727272;
}

.color-secondary {
    color: #FF900E;
}

.hide {
    display: none;
}

.btn-primary{
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: rgb(255, 144, 14);
}
.section-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
}
.description{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 18px 0px;
}
/* shared styles end */

/* header area start*/
/* navbar */
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 25px 0px 45px 0px;
}
.web-logo {
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
}

 
.menubar ul {
    gap: 35px;
}

.menubar ul li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    padding: 10px;

}

.bar-line {
    width: 40px;
    height: 40px;
    flex-direction: column;
    gap: 4px 0px;
}

.bar-line1,
.bar-line2,
.bar-line3 {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background: black;
}

/* hero area */
.hero {
    margin-top: 100px;
     
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
}

.hero-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    width: 70vw;
    margin: 0 auto;
    padding: 18px 0px;
}
.hero-img{
    width: 100%;
    height: 600px;
    border-radius: 8px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 50px;
}
/* header area end*/

/* main style start*/
.feature-seciton{
    gap: 70px;
    padding: 45px 0px;
}
.feature-left,
.feature-right{
    width: 50%;
}
.feature-left img{
    width: 100%;
    height: auto;
}
.feature-left{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}
/* main style end */